
    <h1><%= @user.name %> playlist </h1>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>duracion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.songs.each do |song| %>
      <tr>
        <td><%= song.name %></td>
        <td><%= song.duration %></td>
        <td><%= link_to 'Agregar a playlist', add_song_path(song), method: :post %></td>
        <% if can? :destroy %>
        <td><%= link_to 'Eliminar del playlist', remove_song_user_path(@user, song), method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
